<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
</head>
<body>
    <header>
      <%- include ('../partials/header.ejs') %>  
    </header>
    <div class="navbar">
        <ul>
            <li><a href="guestbook">Guestbook</a></li>
            <li><a href="newmessage">New Message</a></li>
            <li><a href="ajaxmessage" style="text-decoration: underline">Ajax Message</a></li>
        </ul>
    </div>
</div>
    <div class="message-form">
        <form method="POST" action="/ajaxmessage">
            <label for="uname">Username</label><br>
            <input type="text" id="uname" name="uname" value=""><br>
            <label for="country">Country</label><br>
            <input type="text" id="country" name="country" value=""><br>
            <label for="message">Message</label><br>
            <textarea id="message" name="message" value=""></textarea><br><br>
            <button type="button" name="button" id="button">Submit</button>
        </form>
    </div>
    <div id="ajaxmes"></div>

<script>
  // varmistetaan, että sivu on latautunut
      $(() => {
        $("#button").click(() => {
          var data = {
            uname: $("#uname").val(),
            country: $("#country").val(),
            message: $("#message").val()
          }
          $.post("/ajaxmessage", data, function(response, status) {
            $("#ajaxmes").html(response)
          })
        })
      })
  </script>
</body>
</html>