<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
</head>
<body>
    <header>
      <%- include ('../partials/header.ejs') %>  
    </header>
    <div class="navbar">
        <ul>
            <li><a href="guestbook">Guestbook</a></li>
            <li><a href="newmessage">New Message</a></li>
            <li><a href="ajaxmessage" style="text-decoration: underline">Ajax Message</a></li>
        </ul>
    </div>
</div>
    <div class="message-form">
        <form method="POST" action="/ajaxmessage">
            <label for="uname">Username</label><br>
            <input type="text" id="uname" class="inputfield" name="uname"><br>
            <label for="country">Country</label><br>
            <input type="text" id="country" class="inputfield" name="country"><br>
            <label for="message">Message</label><br>
            <textarea id="message" class="inputfield" name="message"></textarea><br><br>
            <button type="button" name="button" id="button">Submit</button>
        </form>
    </div>
    <!-- tänne tulee näkyville kenttään täytetyt tiedot-->
    <div id="ajaxmes"></div>

<script>
  // ajax-pyynnön lähetys JQueryllä
  // ensin varmistetaan, että sivu on latautunut
      $(() => {
        // kuunnellaan sivulla olevaa nappia
        $("#button").click(() => {
          // poimitaan kenttien arvot data muuttujaan
          const data = {
            uname: $("#uname").val(),
            country: $("#country").val(),
            message: $("#message").val()
          }
          // jos kenttiä ei töytä, tulee "alert", joka kehottaa täyttämään kentät
          if (!data.uname || !data.country || !data.message) {
            alert("Fill all the fields!");
            // lähetetään AJAX-olio, joka palauttaa tiedot "ajaxmes"-kenttään
          } else {
            $.post("/ajaxmessage", data, function(response, status) {
              $("#ajaxmes").html(response)
              // tyhjennetään tekstikentät
              $(".inputfield").val("")
            })
          }
        })
      })
  </script>
</body>
</html>