<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include ('../partials/header.ejs') %>  
    </header>
    <div class="navbar">
        <ul>
            <li><a href="guestbook">Guestbook</a></li>
            <li><a href="newmessage">New Message</a></li>
            <li><a href="ajaxmessage">Ajax Message</a></li>
        </ul>
    </div>
    <div class="content">
        <img src="images/Logo.png" alt="Logo with oranges">
    </div>
</body>
</html>
