<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include ('../partials/header.ejs') %>  
    </header>
    <div class="navbar">
        <ul>
            <li><a href="guestbook">Guestbook</a></li>
            <li><a href="newmessage" style="text-decoration: underline">New Message</a></li>
            <li><a href="ajaxmessage">Ajax Message</a></li>
        </ul>
    </div>
    <div class="message-form">
        <form method="POST" action="/newmessage">
            <label for="uname">Username</label><br>
            <input type="text" id="uname" name="uname" required><br>
            <label for="country">Country</label><br>
            <input type="text" id="country" name="country" required><br>
            <label for="message">Message</label><br>
            <textarea id="message" name="message" required></textarea><br><br>
            <input type="submit" id="button" value="Submit"> 
        </form>
    </div>    
</body>
</html>